body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: #023E8A;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-head {
    font-size: 24px;
    font-weight: bold;
}

.right-head {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.right-head a {
    text-decoration: none;
    color: white;
}

.hero {
    background-color: #023E8A;
    color: white;
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.left-hero {
    width: 300px;
    flex-shrink: 0;
}

.left-hero-header {
    font-size: 24px;
    font-weight: bold;
}

.left-hero-button {
    width: fit-content;
    border: 2px solid #00B4D8;
    background-color: #00B4D8;
    text-align: center;
    padding: 8px 32px;
    border-radius: 8px;
}

.right-hero img {
    height: 250px;
    border-radius: 12px;
}

.section-one {
    background-color: #CAF0F8
    
}

.section-one-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 24px;
}

.section-one-info {
    display: flex;
    padding: 16px;
    justify-content: center;
    gap: 40px;
}

.section-one-square {
    width: 150px;
}

.square-one,
.square-two,
.square-three,
.square-four {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.square-one {
    background-color: #90E0EF;
}

.square-two {
    background-color: #00B4D8;
}

.square-three {
    background-color: #0077B6;
}

.square-four {
    background-color: #03045E;
}

.square-text {
    text-align: center;
}